body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

#topo {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#controls {
    float: right;
}


#controls input, #controls button.btn {
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    height: 22px;
    width: 100px;
    border: 1px solid #888;
    margin: 0;
    margin-left: 5px;
    
}

#controls button.btn {
    text-transform: uppercase;
    cursor: pointer;
    transition: background linear 0.2s, color linear 0.2s;
}

#controls button.btn:hover {
    color: #fff;
    background-color: #888;
}

#header {
    width: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #f0f0f0;
    z-index: 20;
    background-color: rgba(240,240,240,0.9);
    line-height: 28px;
    padding: 0 10px;
    
}

#controls input {
    width: 150px;
    height: 20px;
    padding: 0 5px;
}

#topo3-stats {
    float: left;
}

#topo3-footer {
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
    background-color: rgba(240,240,240,0.9);
    z-index: 20;
    text-align: right;
    font-size: 12px;
}

#topo3-about {
    margin-bottom: 3px;
}


